{% extends 'layout/LayoutAdministrador.html' %} {% block content %}
<section class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="down-contact">
          <div class="row">
            <div class="col-lg-8">
              <div class="sidebar-item contact-information">
                <div class="sidebar-heading">
                  <h2>contact information</h2>
                </div>
                <div class="content">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">Titulo</th>
                        <th class="text-center">Autor</th>
                        <th class="text-center">Grupo</th>
                        <th class="text-center">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for l in lista %}
                      <tr>
                        <td class="text-center">{{l.titulo}}</td>
                        <td class="text-center">{{l.autor.nombre}}</td>
                        <td class="text-center">{{l.grupo.grupo}}</td>
                        <!-- <td class="text-center">
                          <a
                            class="btn btn-primary"
                            style="
                              background-color: #007bff;
                              border-color: #007bff;
                              color: white;
                              padding: 10px 20px;
                              text-decoration: none;
                            "
                            href="{% url 'editarusuarios' l.id %}"
                            >Editar</a
                          >
                          <form
                            method="post"
                            action="{% url 'delete_user' l.id %}"
                            class="btn"
                          >
                            {% csrf_token %}
                            <input
                              type="submit"
                              value="Eliminar"
                              class="btn btn-warning"
                              style="
                                background-color: #007bff;
                                border-color: #007bff;
                                color: white;
                                padding: 10px 20px;
                                text-decoration: none;
                              "
                            />
                          </form> -->
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sidebar-item contact-information">
                <div class="sidebar-heading">
                  <h2>contact information</h2>
                </div>
                <div class="content">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <a
                        class="btn btn-primary text-center"
                        style="
                          background-color: #007bff;
                          border-color: #007bff;
                          color: white;
                          padding: 10px 20px;
                          text-decoration: none;
                        "
                        href="{% url 'add_noticias' %}"
                        >Agregar noticias</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
