{% extends 'layout/LayoutAdministrador.html' %} {% block content %}
<section class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="down-contact">
          <div class="row">
            <div class="col-lg-10">
              <div class="sidebar-item contact-information">
                <div class="sidebar-heading">
                  <h2>contact information</h2>
                </div>
                <div class="content">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">Titulo</th>
                        <th class="text-center">Autor</th>
                        <th class="text-center">Grupo</th>
                        <th class="text-center">Imagenes</th>
                        <th class="text-center">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for l in lista %}
                      <tr>
                        <td class="text-center">{{l.titulo}}</td>
                        <td class="text-center">{{l.autor.nombre}}</td>
                        <td class="text-center">{{l.grupo.grupo}}</td>
                        {% if l.imagen.url %}
                          <td class="text-center"><img src="{{l.imagen.url}}" alt="Imagen de la publicacion" height="60px" width="60px"></td>
                        {% else %}
                          <td class="text-center"><img src="" alt="Imagen no encontrada"  height="60px" width="60px"></td>
                        {% endif %}

                        <td class="text-center" style="display: flex;justify-content: center;align-items: center;">
                          <div>
                            <a
                            class="btn btn-primary"
                            style="
                              background-color: #007bff;
                              border-color: #007bff;
                              color: white;
                              padding: 10px 20px;
                              text-decoration: none;
                            "
                            href="{% url 'editar_noticias' l.id %}"
                            >Editar</a>
                          </div>
                          
                          <form
                            method="post"
                            action="{% url 'delete_noticias' l.id %}"
                            class="btn"
                          >
                            {% csrf_token %}
                            <input
                              type="submit"
                              value="Eliminar"
                              class="btn btn-warning"
                              style="
                                background-color: hwb(0 11% 29%);
                                border-color: hwb(0 11% 29%);
                                color: white;
                                padding: 10px 20px;
                                text-decoration: none;
                              "
                            />
                          </form>
                          <div>
                            <a
                            class="btn btn-primary"
                            style="
                              background-color: hsl(134, 71%, 15%);
                              border-color: hsl(134, 71%, 15%);
                              color: white;
                              padding: 10px 20px;
                              text-decoration: none;
                            "
                            href="{% url 'show_comentarios' l.id %}"
                            >Ver C</a>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="sidebar-item contact-information">
    
                <div class="content" style="margin-top: 40px;">
                  <ul class="list-group">
                    <li >
                      <a
                        class="btn btn-primary text-center"
                        style="
                          background-color: #007bff;
                          border-color: #007bff;
                          color: white;
                          padding: 10px 20px;
                          text-decoration: none;
                        "
                        href="{% url 'add_noticias' %}"
                        >Agregar noticias</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
